/* ------------- card ------------- */

p {
  margin: 0;
}

.Card {
  background: white;
  border-radius: 10px;
  border-left: 3px solid #a33ea1;
  border-top: 3px solid #ee8130;
  border-right: 3px solid #c22e28;
  border-bottom: 3px solid #6f35fc;
}

.Card__img {
  text-align: center;
}

.Card__img img {
  width: 100px;
  height: 100px;
  padding-top: 5px;
}

.Card__img_alternative {
  max-height: 100px;
}
.Card__types {
  display: flex;
  justify-content: center;
}

.Card__type {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}

/* special colors matched to the different types */
.poison {
  background: #a33ea1;
}

.grass {
  background: #7ac74c;
}

.fire {
  background: #ee8130;
}

.flying {
  background: #a98ff3;
}

.water {
  background: #6390f0;
}

.bug {
  background: #a6b91a;
}

.normal {
  background: #a8a77a;
}

.electric {
  background: #f7d02c;
}

.ground {
  background: #e2bf65;
}

.fairy {
  background: #d685ad;
}

.fighting {
  background: #c22e28;
}

.psychic {
  background: #f95587;
}

.rock {
  background: #b6a136;
}

.ice {
  background: #96d9d6;
}

.dragon {
  background: #6f35fc;
}

.dark {
  background: #705746;
}

.steel {
  background: #b7b7ce;
}

.ghost {
  background: #735797;
}

.Card__name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 25px;
}

.Card__info {
  display: flex;
  justify-content: space-around;
}

.Card__data {
  padding-bottom: 10px;
}

.Card__data .title {
  font-weight: 700;
  font-size: 20px;
}

.title_stat {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.title_stat_abilities {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-top: 18px;
}

.stats {
  font-size: 13px;
  color: #fff;
  padding-left: 3px;
  /* padding-top: 1px; */
  font-weight: bold;
}

.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  max-width: 600px;
  height: 25px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.bar {
  height: 15px;
  position: relative;
  border-radius: 5px;
  font-size: 10px;
  color: #fff;
}

.Card__multiple--abilities {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
